*{
    margin: 0;
    padding: 0;
}
#Cabecera{
    height: auto;
    background-color: aquamarine;
    
}
#Cabecera h3{
    text-align: center;
    color: greenyellow;
}
.menu a {
    color: #cbbb0e;
    text-decoration: none;
    padding-left: 10px;
}
.menu a:hover{
    height: auto;
    background-color: #ffff00;
    color: #000;
}

.marquesina{
    background-color: black;
    color: antiquewhite;
    width: 100%;
    height: 20px;
}
.logo{
    text-align: left;
    width: 40px;
}
.carrito{
    text-align: end;
    width: 40px;
}
#Cuerpo{
    background-color: rgb(169, 169, 169);
    height: auto;
    width: auto;

}
#regristro{
    margin-left: 400px;
    margin-right: 600px;
    padding-left: 25px;
    padding-right: 25px;
    background-image: url("/EXplicacionCSS/img/fondo_v.jpg");
}
.comentario{
    background: #008000;
    color: #fff;
}
.opiniones{
    font-size: small;
}
ul{
    list-style-type:circle;
}
li{
    list-style-type: circle;
}

#tarjeta{
    width: 350px;
    border: 2px solid #000;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 #000;
}
.producto{
    width: 100%;


}
#contenedor{
    padding: 10px;
    margin-bottom: 30px;
}
#contenedor h4{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}
#contenedor p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 20px;


}
.boton{
    background-color: orange;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 5px;
    border-radius: 5px;
    float: left;
    margin-bottom: 3em;
   
}
.boton img{
    padding: 5px;
}
.boton:hover{
    background-color: darkorange;
}
.precio{
    background-color: grey;
    padding: 5px 10px;
    border-radius: 5px;
    float: right;
    color: #fff;
    margin-bottom: 20px;
}
.estrella{
    width: 4em;
}
.lista{
    width: 100%;
}
